<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto login</title>
    <style>
    </style>
</head>
<body>
<h2>Booking List</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.date }}</td>
                <td>{{ booking.time }}</td>
                <td>{{ booking.name }}</td>
                <td>{{ booking.phonenumber }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html> 